@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*
{
    margin: 0;
    padding: 0; 
}

#navbar
{
    background-color: #1a1a1a;
    color: rgb(37, 37, 37);
    padding: 5px;
    /* display: inline-block; */
    display: grid;
    grid-template-columns:2fr 8fr;
    background-attachment:fixed;
    /* background-attachment:scroll; */
    align-items: center;
}
#brand
{
    display: inline-block;
    grid-row: 1;
    grid-column: 1;
    color: rgb(228, 228, 228);  
    background-color: rgba(58, 120, 255,0.4);
    padding: 3%;
    margin-right: 33%;
    border-radius: 5px;
    /* font-family: Rub; */
    font-family: 'Rubik', sans-serif;
    font-size: xx-large;
}
.nav
{
    grid-row: 1;
    grid-column: 2;
    margin-left: 8%;
}
#navbar li
{
    /* background-color: #1a1a1a;
    color: rgb(37, 37, 37); */
    list-style: none;
    display: inline-block;
    padding: 13px 30px;
    margin: 5px 15px;
    
}
#navbar li a
{
    text-decoration: none;
    color: rgb(85, 85, 85);
    font-family: 'Rubik', sans-serif;
    font-size: 23px;
    font-weight: bold;
}
#navbar li a:hover
{
    color: rgb(146, 145, 145);
}

.container1
{
    background: center/cover no-repeat url(../static/toppbgimg.jpg);
    /* height: 500px; */
    height: 50rem;
    background-attachment: scroll;
    /* position: fixed; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-position: center; */
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container1 h1{
    background-color: rgba(58, 120, 255,0.4);
    padding: 4px 8px;
    border-radius: 2px;
    background-attachment: scroll;
}
.container2
{
    background: center/cover no-repeat url(../static/secondimg.jpg);
    background-attachment: fixed;
    height: 80rem;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 2fr;
    /* justify-content: center; */
    /* background-position: center; */
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container2 p
{
    grid-column: 1/3;
    /* display:inline-block; */
    /* margin-left: 50px; */
    /* transition:all ease-in-out; */
    /* flex: content;     */
    text-align: center;
    margin: 20% 10%;
}
.container2 b
{
    display: block;
    flex: content;    
}
.container3
{
    background: center/cover no-repeat url(../static/4thimg.jpg);
    background-attachment: fixed;
    height: 80rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-position: center; */
    align-items: center;
    color: rgb(34, 34, 34);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container4
{
    background: center/cover no-repeat url(../static/3rdimg.jpg);
    background-attachment: fixed;
    height: 70rem;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 2fr;
    justify-content: center;
    /* background-position: center; */
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
}
.container4 h2
{
    display: grid;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    margin-top: 25%;
}
.container4 p
{
    display: grid;
    grid-row: 2;
    grid-column: 1/3;
    margin: 2% 16%;
}
.container4 button
{
    display: grid;
    grid-row: 3;
    grid-column: 1/3;
    display: inline-block;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgba(37, 37, 37, 0);
    margin: 1% 35%;
    padding: 2%;
    margin-bottom: 25%;
}
.container4 button a
{
    color: rgb(222, 223, 170);
    font-size: xx-large;
    text-decoration: none;
}
.container4 button:hover
{
    background-color: rgb(0, 38, 119);
    border: 2px solid rgb(0, 21, 112);
    box-shadow: 0px 0px 2px 8px rgb(58, 120, 255,);
}
.container4 button a:hover
{
    color:rgb(255, 255, 255);
}
.container5
{
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 6fr 6fr;
    height: 48rem;
}
.container5 h2
{
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
}
.container5 div
{
    font-family: 'Rubik', sans-serif;
    display: grid;
    margin: 5%;
    grid-template-columns: 2fr 4fr;
    
}
.container5 div label
{
    text-align:center;
    font-size: larger;
    padding: 1%;
    padding-top: 3%;
}
.container5 div input
{
    font-size: larger;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    background-color: rgba(37, 37, 37, 0);
    margin: 0% 20%;
    color: white;
    outline: none;
}
.container5 div button
{
    color: rgb(202, 202, 202);
    background-color: rgb(0, 79, 197);
    border: none;
    padding: 2% 5%;
    border-radius: 5px;
    grid-column: 1/3;
    font-size: x-large;
    margin: 1% 25%;
}
.container5 div button:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 4px rgb(44, 44, 44);
}
.container5 section2 h2
{
    font-size: 50px;
    background-color: rgba(58, 120, 255,0.4);
    border-radius: 5px;
    margin: 10% 15% 6%;
}
.container5 section2
{
    text-align: center;
    /* margin-top: 10%; */
    font-size: 25px;
    margin: 10% 30%; 
}
.container5 section5
{
    grid-column: 1/3;
    text-align: center;
}